<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Password reset </title>
</head>

<body>
    <div
        style="background-color:#FAF1EA; color: #333; font-family: Arial, sans-serif; margin: 0 auto; max-width: 600px;">
        <img src="https://res.cloudinary.com/dezifvepx/image/upload/v1711390575/Hotel%20Journals/b5icroi6uetoui9uno1j.png"
            alt="Hotel Journals" height="200" style="margin-bottom: 20px; object-fit: cover; width: 100%;">
        <div style="padding: 40px;">
            <h1 style="font-size: 19px; font-weight: bold; margin-bottom: 20px; text-align: center;">
                Recuperación de contraseña
            </h1>
            <p style="font-size: 16px; line-height: 1.5; margin-bottom: 20px;">
                <b> Hola Compi! </b>
            <p> </p>

            <p style="font-size: 16px; line-height: 1.5; margin-bottom: 20px;">
                <b>
                    Parece que has olvidado la contraseña, pero con todo lo que
                    tenemos en la cabeza ¡Es normal!
                    Si es así, pulsa en el siguiente enlace:
                </b>
            </p>

            <div style="display: flex; justify-content: center; margin-bottom: 20px;">
                <button
                    style="padding: 20px; background: #E4B49D; border-radius: 50px; font-size: 14px; font-weight: bold; border: 1px solid whitesmoke;">
                    Recuperar contraseña
                </button>
            </div>

            <p style="font-weight: bold; font-size: smaller;text-align: center;">
                Si no has olvidado tu contraseña puedes
                ignorar este mensaje.</p>
            <p style="font-size: 14px; margin-top: 50px;
            font-weight: bold; line-height: 1.5; margin-bottom: 20px; text-align:center;">
                ¡Un abrazo
                <br />Equipo de Hotel Journals
            </p>
            <p style="font-size: 14px; font-style: italic; line-height: 1.5; margin-bottom: 20px; text-align:center;">
                Hotel Journals, en busca de un sector más justo.</p>
            <hr style="border: 0; border-bottom: 2px solid #ccc; margin-bottom: 20px;">
            <div style="margin-bottom: 20px; text-align: center;">
                <a href="https://www.tiktok.com/@hoteljournals" style="text-decoration: none;">
                    <img src="https://res.cloudinary.com/dezifvepx/image/upload/v1711394098/Hotel%20Journals/tiktok.png"
                        style="height: 50px; width: 50px;" alt="Icon 1">
                </a>

                <a href="https://www.instagram.com/hoteljournals" style="text-decoration: none;">
                    <img src="https://res.cloudinary.com/dezifvepx/image/upload/v1711394098/Hotel%20Journals/insta.png"
                        style="height: 50px; width: 50px;" alt="Icon 1">
                </a>
                <a href="https://www.linkedin.com/company/hotel-journals" style="text-decoration: none;">
                    <img src="https://res.cloudinary.com/dezifvepx/image/upload/v1711394098/Hotel%20Journals/LinkedIn.png"
                        style="height: 50px; width: 50px;" alt="Icon 1">
                </a>
                <a href="https://open.spotify.com/show/3xOjX5LUyM4XUhL9FRTkOo?si=qxabYKhHRD2Aea_utnQYYg"
                    style="text-decoration: none;">
                    <img src="https://res.cloudinary.com/dezifvepx/image/upload/v1711394098/Hotel%20Journals/spotify.png"
                        style="height: 50px; width: 50px;" alt="Icon 1">
                </a>
                <a href="https://www.youtube.com/@Hoteljournals" style="text-decoration: none;">
                    <img src="https://res.cloudinary.com/dezifvepx/image/upload/v1711394098/Hotel%20Journals/YT.png"
                        style="height: 50px; width: 50px;" alt="Icon 1">
                </a>

            </div>
            <p style="font-size: 14px; line-height: 1.5; text-align: center;">Copyright © 2024 Hotel Journals</p>
        </div>
    </div>
</body>

</html>