<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Newsletter</title>
</head>

<body>
    <div
        style="background-color:#FAF1EA; color: #333; font-family: Arial, sans-serif; margin: 0 auto; max-width: 600px;">
        <img src="https://res.cloudinary.com/dezifvepx/image/upload/v1711390575/Hotel%20Journals/b5icroi6uetoui9uno1j.png"
            alt="Hotel Journals" height="200" style="margin-bottom: 20px; object-fit: cover; width: 100%;">
        <div style="padding: 40px;">
            <h1 style="font-size: 19px; font-weight: bold; margin-bottom: 20px; text-align: center;">
                !BIENVENIDA/O A LA NEWSLETTER DE
                HOTEL JOURNALS!
            </h1>
            

            <p style="font-size: 16px; line-height: 1.5; margin-bottom: 20px;">
                <b> Hola Compi! </b>
                <br>
                <b> Estamos muy felices de contar contigo! </b>
            </p>
            <p style="font-size: 16px; line-height: 1.5; margin-bottom: 20px;">
                <b>
                    Queremos que Hotel Journals te acompañe en tu proceso
                    de crecimiento profesional y personal.

                </b>
            </p>

            <p style="font-size: 16px; line-height: 1.5; margin-bottom: 20px;">
                <b>
                    En estos correos encontrarás los nuevos cursos,
                    ofertas de trabajo y post en nuestro secreto back
                    office que te encantarán!
                </b>
            </p>


            <p style="font-size: 16px; line-height: 1.5; margin-bottom: 20px;">
                <b>
                    ¡Nos vemos por nuestras redes sociales :) !
                </b>
            </p>

            <p style="font-size: 14px; margin-top: 50px;font-weight: bold; line-height: 1.5; margin-bottom: 20px; text-align:center;">
                ¡Un abrazo!
                <br />Equipo de Hotel Journals
            </p>
            <p style="font-size: 14px; font-style: italic; line-height: 1.5; margin-bottom: 20px; text-align:center;">
                Hotel Journals, en busca de un sector más justo.</p>
            <hr style="border: 0; border-bottom: 2px solid #ccc; margin-bottom: 20px;">
            <div style="margin-bottom: 20px; text-align: center;">
                <a href="https://www.youtube.com/@Hoteljournals" style="text-decoration: none;">
                    <img src="https://res.cloudinary.com/dezifvepx/image/upload/v1711394098/Hotel%20Journals/YT.png"
                        style="height: 50px; width: 50px;" alt="Icon 1">
                </a>
                <a href="https://www.instagram.com/hoteljournals" style="text-decoration: none;">
                    <img src="https://res.cloudinary.com/dezifvepx/image/upload/v1711394098/Hotel%20Journals/insta.png"
                        style="height: 50px; width: 50px;" alt="Icon 1">
                </a>
                <a href="https://www.linkedin.com/company/hotel-journals" style="text-decoration: none;">
                    <img src="https://res.cloudinary.com/dezifvepx/image/upload/v1711394098/Hotel%20Journals/LinkedIn.png"
                        style="height: 50px; width: 50px;" alt="Icon 1">
                </a>
                <a href="https://open.spotify.com/show/3xOjX5LUyM4XUhL9FRTkOo?si=qxabYKhHRD2Aea_utnQYYg"
                    style="text-decoration: none;">
                    <img src="https://res.cloudinary.com/dezifvepx/image/upload/v1711394098/Hotel%20Journals/spotify.png"
                        style="height: 50px; width: 50px;" alt="Icon 1">
                </a>
                <a href="https://www.tiktok.com/@hoteljournals" style="text-decoration: none;">
                    <img src="https://res.cloudinary.com/dezifvepx/image/upload/v1711394098/Hotel%20Journals/tiktok.png"
                        style="height: 50px; width: 50px;" alt="Icon 1">
                </a>
            </div>
            <p style="font-size: 14px; line-height: 1.5; text-align: center;">Copyright © 2024 Hotel Journals</p>
        </div>
    </div>
</body>

</html>